{{#is attend true}}
<button type="button" class="btn btn-default checkoutRegistrant">Check Out</button>
{{else}}
<button type="button" class="btn btn-default checkinRegistrant">Check In</button>
{{/is}}
<div class="btn-group">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        Manage
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right">
    <!-- dropdown menu links -->
    {{#is attend true}}
        <li class="checkoutRegistrant">
            <a href="#">Check Out</a>
        </li>
    {{else}}
        <li class="checkinRegistrant">
            <a href="#">Check In</a>
        </li>
    {{/is}}
        <li class="editRegistrant">
            <a href="#">Edit</a>
        </li>
        <li class="printBadge">
            <a href="#">Print Badge</a>
        </li>
        <li class="downloadBadge">
            <a href="#">Download Badge</a>
        </li>
        <li class="divider"></li>
        <li class="printReceipt">
            <a href="#">Print Receipt</a>
        </li>
        <li class="viewReceipt">
            <a href="#">View Receipt</a>
        </li>
    </ul>
</div>
