<div class="col-md-12 registrantBody">
    <div class="row">
        <div class="col-md-10">
            <h2><a href="#" id="goBack"><i class="fa fa-arrow-circle-o-left"></i></a> &nbsp; <span class="pageTitle">{{registrantId}} : {{lastname}}, {{firstname}}</span></h2>
        </div>
        <div class="col-md-2" style="text-align: right;">
            <div style="margin-top: 15px;">
                {{#if attend}}
                <i class="fa fa-check-circle fa-3x" style="color: #468847;"></i>
                {{else}}
                <i class="fa fa-minus-circle fa-3x" style="color: #b94a48;"></i>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="navBar">
                <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
                <li><a href="#biller" data-toggle="tab">Biller</a></li>
                <li><a href="#payments" data-toggle="tab">Payments</a></li>
                <li><a href="#linked" data-toggle="tab">Linked Registrants</a></li>
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#" class="printBadge">Print Badge</a></li>
                      <li><a href="#" class="downloadBadge">Download Badge</a></li>
                      <li class="divider"></li>
                      <li><a href="#" class="printReceipt">Print Receipt</a></li>
                      <li><a href="#" class="viewReceipt">View Receipt</a></li>
                      <li class="divider"></li>
                      {{#if attend}}
                            <li class="checkOut">
                                <a href="#">Check Out</a>
                            </li>
                      {{else}}
                            <li class="checkIn">
                                <a href="#">Check In</a>
                            </li>
                      {{/if}}
                      <li><a href="#" class="changeConfirmation">Change Confirmation Number</a></li>
                      <li><a href="#" class="acceptPayment">Accept Payment</a></li>
                    </ul>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="info"></div>
                <div class="tab-pane" id="biller"></div>
                <div class="tab-pane" id="payments">
                    <table class="table table-bordered table-striped" id="registrantPayments">
                        <thead>
                            <tr>
                                <th width="20%">Type</th>
                                <th width="60%">Amount</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
                <div class="tab-pane" id="linked">
                    <table class="table table-bordered table-striped" id="linkedRegistrants">
                        <thead>
                            <tr>
                                <th width="10%">&nbsp;</th>
                                <th width="10%">ID</th>
                                <th width="10%">Confirmation</th>
                                <th width="50%">Name</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class=" well well-lg">
                <button type="button" id="btn-submit" class="btn btn-primary save">Update</button>
            </div>
        </div>
    </div>
</div>
